@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.root {
    --primary-color: #6D28D9;
    --white-smock: whitesmoke;
    --light-purple: #EDE9FE;
    --dark-gray: #374151;
    --dark-blue: rgb(13, 7, 78);
}

/* body */

body {
    font-family: 'Mate SC', serif;
    margin: 0px;
    display: block;
}

/* header-part */

.navigation .nav-brand {
    font-size: x-large;
    font-weight: bold;
    color: var(--dark-blue);
    text-align: left;
}

.navigation .toplink {
    color: var(--dark-blue);
    text-align: right;
    text-decoration: none;
}

.navigation .list {
    text-align: right;
    color: var(--dark-blue);
    font-size: large;
}

.navigation .link-active {
    font-weight: bold;
}

.list-non-bullet {
    list-style:none;
    text-align: center;
}

.list-inline {
    display: inline-block;
    padding: 0rem 1rem;
}

.image {
    max-width: 80%;
    width: 325px;
    display: block;
    padding-bottom: 1rem;
}

.header {
    color: var(--dark-blue);
    max-width: 800px;
    padding-top: 1rem;
    /* text-align: left; */
    margin: auto;
}

.header-details{
    padding-left: 1rem;
    margin: auto;
}

.details {
    padding-top: 1rem;
}

.heading-one{
    text-align: center;
    font-size: large;
    margin: auto;
    color: var(--dark-blue);
    padding-top:2rem;
}
.s1{
    text-align: center;
    margin: auto;
    max-width: 800px;
    color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:15px;

}
.detail-one{
    padding: 1rem;
    margin: 3rem, auto;
    text-align: center;
}

.detail-one h3{
    font-weight: bold;
    font-size: x-large;
 
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    max-width: 150px;
    padding: 0.6rem 1rem;
    background-color: var(--dark-blue);
    color: var(--white-smock);
    margin: 1rem auto;
    border-radius: 2rem;
    display: block;
}